
<% if(locals.errors){ %> 
    <% errors.forEach(function(error) { %>
        <div>
            <%= error.msg %>
        </div>
        <%=console.log(error.msg)%>
    <% }); %>
<% } %> 
    
<% if(success_msg != '') { %>
    <div>
        <%= success_msg %>
    </div>
<% } %>

<% if(error != '') { %>
    <div>
        <%= error %>
    </div>
<% } %>