<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="fontawesome/css/all.css">
</head>
<body class="is-preload landing">
    <!-- Header -->
    <div id="page-wrapper">
        <header id="header">
            <h1 id="logo"><a href="/">Project0</a></h1>
            <nav id="nav">
                <div id="topnav" class="topnav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn button primary">Log in</button>
                                <div id="myDropdown" class="dropdown-content">
                                    <form id="login-form" class="login-overlay">
                                        <input type="text" name="username" id="username-field" class="login-form-field login-overlay" placeholder="Username">
                                        <input type="password" name="password" id="password-field" class="login-form-field login-overlay" placeholder="Password">
                                        <input type="submit" value="Login" id="login-form-submit" class="login-overlay">
                                        <label class="login-overlay message">
                                            <input  type="checkbox"
                                                    checked="checked" class="login-overlay label">
                                            Keep me signed in
                                        </label>
                                        <p class="message">Not registered? <a href="register">Create an account</a></p>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="icon">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                        <!-- <li><a href="/login" class="button primary">Log in</a></li> -->
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h2>Contact Me!</h2>
                <p>Have questions about this app?<br />
                Have exciting ideas about this project?<br />
                Simply want to chat?<br />
                You can find me active on any of the platforms below.</p>
            </header>
            <ul class="icons">
                <li><a href="https://twitter.com/Hopeahh" class="icon fa-brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/irina-petrova-se/" class="icon fa-brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/Hopeah" class="icon fa-brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="myportfolio" class="icon fa-solid alt fa-address-card"><span class="label">Portfolio</span></a></li>
                <li><a href="mailto: irina@wrexie.com" class="icon fa-solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </section>
    <!-- Scripts -->
    <script src="js/main.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/responsiveNavBar.js"></script>
</body>
</html>