/* body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.75em;
}

a, .span-link {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-weight: bold;
	color: white;
    text-decoration: none;
}
a:hover, .span-link:hover {
	color: #7fc29b;
	cursor: pointer;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        border: 0;
    }

h2 {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

.small-avatar {
	width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
	background-size: cover;
    background-position: center center;
}

.medium-avatar {
	width: 200px;
    height: 200px;
    -webkit-border-radius: 150px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 150px;
    -moz-background-clip: padding;
    border-radius: 200px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
	background-size: cover;
    background-position: center center;
}

.medium-image {
	max-width: 400px;
	height: auto;
}

.text-highlight {
    color: #48c27b
} */

.icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
  }
  
  .bg-purple {
      background-color: #6f42c1;
    }
  
    .feature-icon {
      width: 4rem;
      height: 4rem;
      border-radius: .75rem;
    }
    
    .icon-link > .bi {
      margin-top: .125rem;
      margin-left: .125rem;
      fill: currentcolor;
      transition: transform .25s ease-in-out;
    }
    .icon-link:hover > .bi {
      transform: translate(.25rem);
    }
    
    .icon-square {
      width: 3rem;
      height: 3rem;
      border-radius: .75rem;
    }
    
    .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
    
    .card-cover {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    
    .feature-icon-small {
      width: 3rem;
      height: 3rem;
    }

body {
    height: 100vh;
    overflow: auto;  
}

main {
    height: 75%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

footer {
    margin: 0 10px;
}