body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.75em;
}

a, .span-link {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-weight: bold;
	color: white;
    text-decoration: none;
}
a:hover, .span-link:hover {
	color: #7fc29b;
	cursor: pointer;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        border: 0;
    }

h2 {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

.small-avatar {
	width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
	background-size: cover;
    background-position: center center;
}

.medium-avatar {
	width: 200px;
    height: 200px;
    -webkit-border-radius: 150px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 150px;
    -moz-background-clip: padding;
    border-radius: 200px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
	background-size: cover;
    background-position: center center;
}

.medium-image {
	max-width: 400px;
	height: auto;
}

.text-highlight {
    color: #48c27b
}